[Unit]
Description=Run My Script at Startup
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/login.sh
Restart=on-error
RestartSec=20s
User=root

[Install]
WantedBy=multi-user.target
