[Unit]
Description=Timer para executar o script login a cada 5 minutos

[Timer]
OnUnitActiveSec=1m
Persistent=false

[Install]
WantedBy=timers.target
